

/*------- Buttons Style here -------*/
.btn {
    &-hero {
        color: $white;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        padding: 18px 36px;
        border-radius: 3px;
        display: inline-block;
        background-color: $black-soft;
        text-transform: uppercase;
        border-radius: 50px;
        // responsive
        @media #{$sm-device} {
            padding: 13px 25px;
        }
        &:hover {
            color: $white;
            background-color: $theme-color;
        }
    }
    &-read {
        color: $black-soft;
        font-size: 14px;
        padding: 5px 20px;
        background-color: transparent;
        text-transform: capitalize;
        border-color: $black-soft;
        &:hover {
            background-color: $theme-color;
            border-color: $theme-color;
        }
    }
    &__bg {
        color: $white;
        font-size: 14px;
        padding: 10px 20px;
        border-radius: 0;
        background-color: $theme-color;
        &:hover {
            color: $white;
            background-color: $black-soft;
        }
    }
    &-outline {
        border: 1px solid $white;
        color: $white;
        font-size: 15px;
        display: inline-block;
        text-transform: uppercase;
        padding: 5px 20px;
        border-radius: 4px;
        &:hover {
            color: $white;
            border-color: $theme-color;
            background-color: $theme-color;
        }
    }
    &-cart {
        font-size: 14px;
        padding: 9px 25px;
        border-radius: 40px;
        background-color: $white;
        text-transform: capitalize;
        box-shadow: 1px 1px 1rem 0 rgba(0,0,0,0.08);
        &:hover {
            color: $theme-color;
        }
    }
    &-cart2 {
        color: $white;
        font-size: 14px;
        padding: 9px 25px;
        background-color: $theme-color;
        text-transform: capitalize;
        &:hover {
            color: $white;
            background-color: $black-soft;
        }
    }
}

.store-link {
    font-size: 14px;
    color: $black-soft;
    font-weight: 500;
    line-height: 1;
    display: inline-block;
    position: relative;
    text-transform: capitalize;
    margin-top: 15px;
    pointer-events: visible;
    &:hover {
        color: $theme-color;
    }
    &:after {
        bottom: -7px;
        left: 0;
        width: 100%;
        height: 2px;
        content: "";
        position: absolute;
        background-color: $theme-color;
    }
}