/*------ group list item start ------*/
.group-item {
    display: flex;
    &-thumb {
        max-width: 100px;
        flex-basis: 100px;
    }
    &-desc {
        position: relative;
        padding-left: 20px;
        max-width: calc(100% - 100px);
        flex-basis: calc(100% - 100px);
        .group-product-name {
            font-size: 14px;
            line-height: 1.5;
            font-weight: 400;
            text-transform: capitalize;
            padding-bottom: 18px;
            a {
                color: $black-soft;
                &:hover {
                    color: $theme-color;
                    text-decoration: underline;
                }
            }
        }
    }
}

.categories-group-wrapper {
    @media #{$md-device, $sm-device} {
        margin-bottom: 63px;
    }
}
.row {
    [class*="col-"] {
        &:last-child {
            .categories-group-wrapper {
                margin-bottom: 0;
            }
        }
    }
}
/*------ group list item end ------*/


